{% extends "base.html" %}

{% block "content" %}
    <h1>Kaupiamasis Inasas</h1>
    <h2>Bendra suma visiems butams: {{ total_sum }}</h2>
    <ul>
        {% for detail in payment_details %}
    <p>
    Savininkas: {{ detail.owner.name }}<br>
    Suma apmokėjimui: {{ detail.payment_amount }}
    <a href="mailto:{{ detail.owner.email }}?subject=Mokėjimas%20už%20kaupiamąjį%20įnašą&body=Sveiki,%0D%0A%0D%0APrašome%20apmokėti%20suma%20{{ detail.payment_amount }}%20už%20kaupiamąjį%20įnašą.%0D%0A%0D%0APagarbiai,">Siųsti pranešimą</a>
</p>
{% endfor %}
        {% for owner in owners %}
        <li>
            <strong>Flat: {{ owner }}</strong>
            <br>
            Kaupiamasis inasas: {{ owner.total_amount }}
        </li>
        {% endfor %}
    </ul>

    <h2>Šio mėnesio išlaidos:</h2>
    <ul>
        {% for expense in current_month_expenses %}
        <li>{{ expense.discription }} - {{ expense.repairs_cost }}</li>
        {% endfor %}

    </ul>

    <h2>Visų butų likutis po šio mėnesio išlaidų: {{ remaining_total }}</h2>
    <h2>Šio mėnesio išlaidų suma: {{ total_current_month_expenses }}</h2>



{% endblock %}
